

<!DOCTYPE html>
<html lang="">
<head>
<title> Book Lover </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left"> 
     <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +855 (012) 34 5678</li>
        <li><i class="far fa-envelope rgtspace-5"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="fl_right"> 
      <ul class="nospace">
        <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
        <li id="searchform">
          <div>
            <form action="#" method="post">
              <fieldset>
                <legend>Quick Search:</legend>
                <input type="text" placeholder="Enter search term&hellip;">
                <button type="submit"><i class="fas fa-search"></i></button>
              </fieldset>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('/image/bg1.png');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <h1><a href="#">Sarang Hae yo</a></h1>
        </div>
      <nav id="mainav" class="fl_right"> 
        <ul class="clear">
          <li class="active"><a href="#">Home</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Full Width</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
              <li><a href="pages/font-icons.html">Font Icons</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
        </ul>
       </nav>
    </header>
  </div>
  <div class="overlay">
    <div id="pageintro" class="hoc clear"> 
      <article>
        <h3 class="heading">Dr. Seuss</h3>
        <p>“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”</p>
      </article>
     </div>
  </div>
  </div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
     <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="imgover" href="#"><img src="/image/BG.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Ernest Hemingway</h6>
              <div>
                <p>There is no friend as loyal as a book.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="/image/02.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Cicero</h6>
              <div>
                <p>A room without books is like a body without a soul.</p>
              </div>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="/image/03.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Lemony Snicket</h6>
              <div>
                <p>Never trust anyone who has not brought a book with them.</p>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- / main body -->
  </main>
</div>

<div class="wrapper row3">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <p class="nospace font-xs">Saul Bellow</p>
      <p class="heading underline font-x2">People can lose their lives in libraries. They ought to be warned.</p>
    </div>
    <ul id="latest" class="nospace group">
      <li class="one_third first">
        <article><a class="imgover" href="#"><img src="/image/BG.png" alt=""></a>
          <ul class="nospace meta clear">
            <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
            <li><i class="fas fa-comments"></i> <a href="#">Comments (10)</a></li>
          </ul>
          <div class="excerpt clear">
            <h6 class="heading">Cicero</h6>
            <p>A room without books is like a body without a soul.</p>
          </div>
          <footer><a class="btn" href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a class="imgover" href="#"><img src="/image/02.png" alt=""></a>
          <ul class="nospace meta clear">
            <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
            <li><i class="fas fa-comments"></i> <a href="#">Comments (10)</a></li>
          </ul>
          <div class="excerpt clear">
            <h6 class="heading">Ernest Hemingway</h6>
            <p>There is no friend as loyal as a book.</p>
          </div>
          <footer><a class="btn" href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a class="imgover" href="#"><img src="/image/03.png" alt=""></a>
          <ul class="nospace meta clear">
            <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
            <li><i class="fas fa-comments"></i> <a href="#">Comments (10)</a></li>
          </ul>
          <div class="excerpt clear">
            <h6 class="heading">Dr. Seuss</h6>
            <p>“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”</p>
          </div>
          <footer><a class="btn" href="#">Read More</a></footer>
        </article>
      </li>
    </ul>
    </section>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/jquery.backtotop.js"></script>
<script src="/scripts/jquery.mobilemenu.js"></script>
</body>
</html>