body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #007bff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  form {
    display: inline-block;
    margin-right: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea
  {
    margin-bottom: 10px;
  }
  

  /* Additional Custom Styles */
  .character-box {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }

  .character-actions {
    display: flex;
    padding: 0px;
  }

  .character-actions button {
    margin-right: 10px;
  }

  /* Custom Colors for Update and Delete Buttons */
  .btn-update {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white !important;
    border-radius: 8px;
  }

  .btn-delete {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
    border-radius: 8px;
  }

  /* Override Bootstrap Styles for Button Backgrounds */
  .btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
    margin-left: 20px;
    color: white;
    border-radius: 8px;
  }

  .btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: white;
    border-radius: 8px;
  }

  .btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white;
    border-radius: 8px;
  }

  .btn-secondary:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
    
  }
  .header{
    color: white;
    background-color: #1a3351;
    margin: 0 0 0 0;
    height: 60px;
    padding-left: 20px;
    
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30% !important;
  }

  /* Notification Styles */
.notification {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1a3351;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
